.esgp-section[data-id="5"] {
  background: #FFF;
  max-width: 1920px;
  margin: 0 auto;
  /* overflow: hidden; */
  & .esgp-s5-top {
    position: relative;
    width:1920px;
    left: 50%;
    transform: translate(-50%, 0);


    margin-top: -340px;
/*    @media (max-width: 1386px) {
      margin-top: -10vw;
    }
    @media (max-width: 700px) {
      margin-top: -12vw;
    }*/
  }
  & .sip_graph_half_5_1,
  & .sip_graph_half_5_2 {
    width: 100%;
    position: relative;
  }

  & .sip_graph_half_5_1 {
    margin-bottom: 20px;
    & #lines {
      opacity: 0;
    }
  }
  & .sip_graph_half_5_2 {
    margin-bottom: 20px;
    & #points {
      opacity: 0;
    }
  }


  /* -----line------ */
  & .sip_ig {
    position: absolute;
    top: 7%;
    width: 6.8%;
    background:  rgb(26, 156, 227);
    /* background: red; */
    /* opacity: 0; */
  }
  & .sip_ig_1 {
    left: 10.1%;
    height: 32.8%;
  }
  & .sip_ig_2 {
    left: 19.4%;
    height: 31.5%;
  }
  & .sip_ig_3 {
    left: 29.1%;
    height: 42.9%;
  }
  & .sip_ig_4 {
    left: 38.8%;
    height: 47.1%;
  }
  & .sip_ig_5 {
    left: 48.6%;
    height: 44.1%;
  }
  & .sip_ig_6 {
    left: 58.4%;
    height: 55.6%;
  }
  & .sip_ig_7 {
    left: 68.1%;
    height: 65.8%;
  }
  & .sip_ig_8 {
    left: 77.3%;
    height: 63.5%;
  }
  & .sip_ig_9 {
    left: 87.6%;
    height: 75.5%;
  }


  & .sip_ig_btn {
    width: 7.16%;
    height: 15.83%;
    border: 2px solid rgb(26, 156, 227);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 11.3%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    transition: background .3s;
/*    @media (max-width: 700px) {
      pointer-events: auto;
    }*/
    &:hover {
      background: #141E50;
      &:after {
        background: #FFF;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 36.56%;
      height: 36.56%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: rgb(26, 156, 227);
    }
  }

  & .sip_ig_btn_1 {
    right: 31%;
    top: 48%;
  }
  & .sip_ig_btn_2 {
    right: 27.7%;
    top: 46.5%;
  }
  & .sip_ig_btn_3 {
    right: 13.5%;
    top: 12.4%;
  }
  & .sip_ig_btn_4 {
    right: 0%;
    top: 11.5%;
  }

}

.esgp-section[data-id="5"] .sip_graph_half_w_1 {
  width: 1195px;
  position: relative;
  margin-left: -123px;
/*  @media (max-width: 1150px) {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    margin-bottom: 110px;
    margin-top: 50px;
  }
  */
  @media (max-width: 575px) {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
}

.esgp-section[data-id="5"] .sip_graph_half_w_2 {
  width: 1243px;
  position: relative;
/*  @media (max-width: 1150px) {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
*/

  @media (max-width: 575px) {
    width: 100%;
    flex-direction: column;
  }
}

.sip_graph_half_5_1_w {
  max-width: 600px;
  width: 100%;
  margin-top: 40px;
  margin-left: 590px;
  /* margin-left: 41%; */
  margin-bottom: 150px;
  & .esgp-small {
    padding-left: 5px;
    padding-right: 20px;
  }
/*  @media (max-width: 1150px) {
    max-width: none;
    width: 50vw;
    margin: 0;
  }*/
  @media (max-width: 575px) {
    width: 100%;
    max-width: none;
    margin: 0;
  }
}

.sip_graph_half_5_2_w {
  max-width: 700px;
  width: 100%;
  margin-bottom: 90px;
  z-index: 2;
  & .esgp-small {
    padding-left: 20px;
  @media (max-width: 575px) {
padding-left: 0px;
  }
  }
/*  @media (max-width: 1150px) {
    max-width: none;
    width: 50vw;
    margin: 0;
  }
  @media (max-width: 700px) {
    width: 100%;
    pointer-events: none;
  }*/
}

.sip_graph_half_5_1_w .esgp-h3 {
  margin-bottom: 20px;
}

.esgp-s5-1-half_image {
  position: absolute;
  top: 0;
  right: 0px;
  width: 772px;
  height: 442px;
  z-index: 1;
/*  @media (max-width: 1150px) {
    width: 50vw;
    position: static;
    margin-left: -33px;
  }*/
  @media (max-width: 575px) {
    position: static;
    /*width: 90vw;*/
    margin-left: -110vw;
    /*margin-bottom: 40px;*/
  }
}
.esgp-s5-1-half_image-w {
  position: absolute;
  top: 30px;
  right: 640px;
  width: 772px;
  height: 442px;


  @media (max-width: 575px) {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      height: auto;
  }
}
.esgp-s5-1-half_image-hand {
  position: absolute;
  top: 0;
  right: 173px;
  z-index: 2;
  width: 714px;
  height: 536px;
  @media (max-width: 575px) {
right: 53px;
  }
}
.esgp-s5-2-half_image {
  width: 1000px;
  position: absolute;
  top: 0;
  left: 740px;
/*  @media (max-width: 1150px) {
    width: 50vw;
    position: static;
    margin-right: -33px;
  }
  @media (max-width: 700px) {
    width: 100%;
    position: static;
    margin-left: 13vw;
  }*/
}

/* * {
  background: rgba(140,140,140, 0.1);
} */



.esgp-s5-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 1;
/*  @media (max-width: 700px) {
    margin-bottom: -35px;
  }*/

  & p{
max-width: 506px;
    width: 100%;
  }
}

.esgp-s5-3svg{
  width: 100%;
  max-width: 506px;
  margin-top: -30px;
  @media (max-width: 575px) {
     margin-top: 0px;
  } 

  & svg{
    width: 100%;
  }
}


.esgp-s5-3 img {
/*  @media (max-width: 1150px) {
    width: 50%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }*/
}

.esgp-s5-4_image {
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 100%;
  z-index: 3;
  max-width: 1920px;
  transform: translateX(-50%);
  z-index: 1;
}

.esgp-row[data-id="2"] {
  max-width: 1400px;
}

/* .esgp-section {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;
} */

/* .esgp-section[data-id="5"] .esgp-row {
  padding-bottom: 550px;
  margin-bottom: -10px;
} */

.esgp-s5-bottom-mob {
  display: none;
/*  @media (max-width: 700px) {
    display: block;
    width: 100%;
    height: 150vw;
    padding-top: 65%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }*/
  & .esgp-s5-bottom-slogan {
    font-size: 6vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
}
.esgp-s5-bottom-w {
  position: relative;
  width: 100%;
  height: 1171px;
  margin-top: -450px;
}
.esgp-s5-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 1171px;
  & .esgp-s5-bottom-slogan-w {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  & .esgp-s5-bottom-slogan {
    font-size: 35px;
    line-height: 42px;
    width: 325px;
    margin-bottom: 20px;
  }
  & .esgp-s5-bottom-disclaimer {
    font-size: 15px;
    line-height: 18px;
  }
}

.esgp-s5 {
  position: relative;
  text-align: center;
  
  margin: 200px auto 0 auto;
  font-size: 35px;
  line-height: 42px;
  z-index: 4;

}

.esgp-footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 115px;
  margin-top: -20px;
  background: #141E50;
  position: relative;
  z-index: 4;
/*  @media (max-width: 700px) {
    height: 80px;
    margin-top: 0px;
  }*/
}

.esgp-relative {
  position: relative;
  width: 100%;
}
.esgp-dotlines[data-id="5-1"] {
  top: -40px;
  left: unset;
  right: -250px;
    @media (max-width: 575px) {
        opacity: 0;
    }  
}
.esgp-dotlines[data-id="5-2"] {
  top: 0;
  left: -370px;
    @media (max-width: 575px) {
        opacity: 0;
    }  
}

.esgp-footer-trigger{
  position: relative;
}

.esgp-s5-bg-svg1{
  position: absolute;
  top: 0;
  left: 0;
}