
.esgp-diagram-container{
    @media (--xs) {
      position: relative;
    }
  
}

.esgp-diagram{
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

    @media (--xs) {
      margin-top: 0px;
    }

    & svg{
      @media (--xs) {
        position: relative;
        margin-left: -90px;
        margin-right: -90px;
      }
    }

}

.esgp-list-svg{
  position: absolute;
  left: 1240px;
  top: -180px;
}



.esgp-diagram-sectors{
  position: absolute;
  left: 50%;
  top: 60%;
  @media (--xs) {
    transform: scale(0.65);
    left: 49.6%;
    top: 52.3%;
  }

}


.esgp-seсtor-sector-container{
  position: absolute;
  width: 144px;
  height: 144px;
  background-color: rgba(0,0,0,0.0);
  cursor: pointer;




  & .esgp-sector-sector{
    opacity: 0.75;
    transition: all 0.5s ease-out;
  }


  & svg{
    pointer-events: none;
  }

  & path{
    shape-rendering: geometricPrecision;
  }
}
.esgp-seсtor-sector-container:hover{
  z-index:2;
  & .esgp-sector-sector{
    opacity: 1;
    transform: scale(1.1);
  }
}


.esgp-seсtor-sector-container[data-id="0"]{
  bottom: 40%;
  left: 50%;
  z-index: 1;

  & .esgp-sector-sector{
    transform-origin: 0% 100%;
  }

  & svg{
    transform-origin: 0% 100%;
  }
}
.esgp-seсtor-sector-container[data-id="1"]{
  top: 60%;
  left: 50%;

  & .esgp-sector-sector{
    transform-origin: 0% 32%;
  }

  & svg{
    transform-origin: 0% 32%;
  }
}
.esgp-seсtor-sector-container[data-id="2"]{
  top: 60%;
  right: 50%;

  & .esgp-sector-sector{
    transform-origin: 100% 0%;
  }

  & svg{
    transform-origin: 100% 0%;
  }
}
.esgp-seсtor-sector-container[data-id="3"]{
  bottom: 40%;
  right: 50%;
  
  & .esgp-sector-sector{
    transform-origin: 100% 100%;
  }

  & svg{
    transform-origin: 100% 100%;
  }
}


.esgp-sector-sector[data-id="1"]{
    margin-top: -86px;
    margin-left: -3px;
}
.esgp-sector-sector[data-id="2"]{
    margin-top: -5px;
}





.esgp-seсtor-button-container{
  position: absolute;
}
.esgp-seсtor-button-container[data-id="0"]{
  top: 38.5%;
  right: 25.5%;
  @media(--xs){
    top: 30px;
    right: 0%;
  }
}
.esgp-seсtor-button-container[data-id="1"]{
  bottom: 16.1%;
  right: 25.5%;
  @media(--xs){
  bottom: 30px;
  right: 0%;
  }
}
.esgp-seсtor-button-container[data-id="2"]{
  bottom: 16.1%;
  left: 26.5%;
  @media(--xs){
  bottom: 30px;
  left: 0%;
  }
}
.esgp-seсtor-button-container[data-id="3"]{
  top: 38.5%;
  left: 26.5%;
  @media(--xs){
  top: 30px;
  left: 0%;
  }  
}
  .esgp-sector-button{
    position: relative;
    width: 170px;
    height: 49px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s ease-out;
    @media(--xs){
      width: 140px;
      height: 40px;
    }
  }
.esgp-sector-button:hover{
  color: white;
}

.esgp-sector-button[data-id="0"]{
  border: 1px solid #1A9CE3;
  color: #1A9CE3;
}
.esgp-sector-button[data-id="0"]:hover{
  background-color: #1A9CE3;
  color: white;
}
.esgp-sector-button[data-id="1"]{
  border: 1px solid #00B398;
  color: #00B398;  
}
.esgp-sector-button[data-id="1"]:hover{
  background-color: #00B398;
  color: white;
}
.esgp-sector-button[data-id="2"]{
  border: 1px solid #0060A1;
  color: #0060A1;
}
.esgp-sector-button[data-id="2"]:hover{
  background-color: #0060A1;
  color: white;
}
.esgp-sector-button[data-id="3"]{
  border: 1px solid #6E6E72;
  color: #6E6E72;
}
.esgp-sector-button[data-id="3"]:hover{
  background-color: #6E6E72;
  color: white;
}




.esgp-indexes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

  .esgp-index{
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: underline;
    border-right: 1px solid var(--color-blue);
    transition: all 0.3 ease-out;

    @media(--xs){
      font-size: 12px;
      line-height: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }

  }
  .esgp-index:hover{
    color: #1A9CE3;
  }


.esgp-index-tooltip{
  width: 100%;
  max-width: 284px;
  padding: 10px 10px 10px 10px;
  padding: 5px;

}


.egsp-s1-p{
  font-size: 15px;

  & span{
    font-family: "OpenSans-Bold";
  }
}

.esgp-index-tooltip-p{
  color: var(--color-blue);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 11px;
  font-family: "OpenSans-Regular";
}


.esgp_tooltip[data-id="1-3-0"]{
  border-top: 5px solid #1A9CE3;
  padding: 10px 20px 20px 20px;
  width: 436px;
  margin-bottom: 0px;
  pointer-events: none;
  @media (max-width: 575px) {
    width: 97vw;
  }
}
.esgp_tooltip[data-id="1-3-1"]{
  border-top: 5px solid #00B398;
  padding: 10px 20px 20px 20px;
  width: 436px;
  margin-bottom: -50px;
  pointer-events: none;
  @media (max-width: 575px) {
    width: 97vw;
  }  
}
.esgp_tooltip[data-id="1-3-2"]{
  border-top: 5px solid #141E50;
  padding: 10px 20px 20px 20px;
  width: 436px;
  margin-bottom: 0px;
  pointer-events: none;
  @media (max-width: 575px) {
    width: 97vw;
  }  
}
.esgp_tooltip[data-id="1-3-3"]{
  border-top: 5px solid #5288AA;
  padding: 10px 20px 20px 20px;
  width: 436px;
  margin-bottom: 0px;
  pointer-events: none;
  @media (max-width: 575px) {
    width: 97vw;
  }  
}



.esgp-sector-tooltip-bottom[data-id="1-3-0"]{
  border-top: 1px solid #88898C;
  border-bottom: 5px solid #1A9CE3;
}
.esgp-sector-tooltip-bottom[data-id="1-3-1"]{
  border-top: 1px solid #88898C;
  border-bottom: 5px solid #00B398;
}
.esgp-sector-tooltip-bottom[data-id="1-3-2"]{
  border-top: 1px solid #88898C;
  border-bottom: 5px solid #141E50;
}
.esgp-sector-tooltip-bottom[data-id="1-3-3"]{
  border-top: 1px solid #88898C;
  border-bottom: 5px solid #5288AA;
}

.esgp-sector-tooltip-bottom {
  &:after, &:before {
    top: 0% !important;
    left: 50% !important;
    @media (--xs) {
      display: none;
    }
  }
  &:after {
    border-color: rgba(255, 255, 255, 0) !important;
    border-top-color: rgba(255, 255, 255, 0) !important;
    border-bottom-color: #FFF !important;
    border-width: 10px;
    margin-left: -10px;
    margin-top:-20px !important;
  }
  &:before {
    border-color: rgba(136, 137, 140, 0) !important;
    border-top-color: rgba(136, 137, 140, 0) !important;
    border-bottom-color: #88898C !important;
    border-width: 11px;
    margin-left: -11px;
    margin-top:-22px !important;
  }
}

.esgp-tooltip-line{
  width: 70%;
  height: 1px;
  background-color: var(--color-grey);
  margin-top: -15px;
  margin-bottom: 5px;
}

.esgp-tooltip-span-container{
  margin-left: 10px;
  border-bottom: 1px solid var(--color-grey);
    @media (--xs) {
margin-left: 0px;
    }
}

.esgp-tooltip-span0{
  font-size: 15px;
  line-height: 30px;
    @media (--xs) {
  font-size: 13px;
  line-height: 20px;
    }
}
.esgp-tooltip-span1{
  font-size: 9px;

}

.esgp_tooltip[data-id="1"]{
  border-top: 1px solid #88898C;

  & h1 {
    display: none;
  }
}

.esgp_tooltip{
  font-family: "OpenSans-Regular";
}


.esgp-sector-tooltip-bottom{

}





.esgp_tooltip[data-id="1-2-0"]{
  color: white;
  background: #1A9CE3;
  border: 1px solid #fff;
  border-top: 1px solid #fff;
  &:before {
    border-top-color: #fff;
  }
  &:after {
    border-top-color: #1A9CE3;
  }
}
.esgp_tooltip[data-id="1-2-1"]{
  color: white;
  background: #00B398;
  border: 1px solid #fff;
  border-top: 1px solid #fff;
  &:before {
    border-top-color: #fff;
  }
  &:after {
    border-top-color: #00B398;
  }
}
.esgp_tooltip[data-id="1-2-2"]{
  color: white;
  background: #0060A1;
  border: 1px solid #fff;
  border-top: 1px solid #fff;
  &:before {
    border-top-color: #fff;
  }
  &:after {
    border-top-color: #0060A1;
  }
}
.esgp_tooltip[data-id="1-2-3"]{
  color: white;
  background: #6E6E72;
  border: 1px solid #fff;
  border-top: 1px solid #fff;
  &:before {
    border-top-color: #fff;
  }
  &:after {
    border-top-color: #6E6E72;
  }
}

.esgp-sheme-tooltip-bottom[data-id="1-2-0"]{
  &:after {
    border-bottom-color: #1A9CE3 !important;
  }
}
.esgp-sheme-tooltip-bottom[data-id="1-2-1"]{
  &:after {
    border-bottom-color: #00B398 !important;
  }
}
.esgp-sheme-tooltip-bottom[data-id="1-2-2"]{
  &:after {
    border-bottom-color: #0060A1 !important;
  }
}
.esgp-sheme-tooltip-bottom[data-id="1-2-3"]{
  &:after {
    border-bottom-color: #6E6E72 !important;
  }
}


.esgp-sheme-tooltip-bottom {
  &:after, &:before {
    top: 0% !important;
    left: 50% !important;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0) !important;
    border-top-color: rgba(255, 255, 255, 0) !important;
    border-width: 10px;
    margin-left: -10px;
    margin-top:-20px !important;
  }
  &:before {
    border-color: rgba(136, 137, 140, 0) !important;
    border-top-color: rgba(136, 137, 140, 0) !important;
    border-bottom-color: #fff !important;
    border-width: 11px;
    margin-left: -11px;
    margin-top:-22px !important;
  }
}
