.esgp-select{
	margin-bottom: 20px;
}


.esgp-map-container{
	width: 100%;
	height: 600px;
	position: relative;
  @media (--xs) {
    margin-left: calc(-35px - 10vw);
    width: 120vw;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.esgp-map{
  width: 100%;
}


.jvectormap-zoomin,
.jvectormap-zoomout{
	display: none;
}

.esgp-map-source{
	font-size: 12px;
	line-height: 14px;
}

.esgp-overmap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	pointer-events: none;

  @media (--xs) {
    height: 100%;
  }



	& svg{
		width: 100%;
	}

}

.esgp-gears-svg{
	position: absolute;
    top: 0%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, 0);
    margin-left: 500px;
    margin-top: -100px;
    @media (--xs) {
      margin-left: 0px;
      margin-top: -50px;
      transform-origin: 50% 50%;
      transform: translate(-50%, 0) scale(0.75);
    }
}

.esgp-gull-svg{
	position: absolute;
    top: 0%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, 0);
    margin-left: 0px;
    margin-top: 280px;
    @media (--xs) {
      margin-top: 310px;
    }
}

.esgp-overmap-svg{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
    @media (--xs) {
     height: 100%;
    }

  & svg{
    @media (--xs) {
     height: 100%;
    }
  }
}

.esgp-overmap-svg1{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}







.jvectormap-region{
	fill:#b8d7ec;
}



.esgp-map-tooltip{
  /*max-width: 200px;*/
  width: auto !important;
  color: white !important;
  background: #64A0C8 !important;
  border: 1px solid #fff !important;
  padding: 14px 20px 0 20px !important;

  &:before {
    border-top-color: #fff !important;
  }
  &:after {
    border-top-color: #64A0C8 !important;
  }
}


.esgp-map-tooltip-positive{
	background: var(--color-green) !important;
	  &:after {
    border-top-color: var(--color-green) !important;
  }
}

.esgp-map-tooltip-negative{
	background: var(--color-red) !important;
	  &:after {
    border-top-color: var(--color-red) !important;
  }
}

.esgp-map-tooltip-txt{
	line-height: 0;
	font-size: 15px;
}





.esgp-map-point{
	position: absolute;
	width:10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	cursor: pointer;
	box-shadow: var(--shadow);
	pointer-events: auto;
	transition: background-color 0.5s ease-out;
  border: 1.5px solid white;
  @media(--xs){
  width:6px;
  height: 6px;
  }
}
.esgp-map-point:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background: rgba(0,0,0,0.0);
    position: absolute;
	  top: -6px;
    left: -6px;
    @media(--xs){
    width: 10px;
    height: 10px;
    top: -2px;
    left: -2px;
    }
}

.esgp-map-point-zero{
	background-color: #64A0C8;
}
.esgp-map-point-positive{
	background-color: var(--color-green);
}
.esgp-map-point-negative{
	background-color: var(--color-red);
}


.esgp-map-point[data-id="0"]{left:81.7%;top:44%;}
.esgp-map-point[data-id="1"]{left:50.5%;top:34%;}
.esgp-map-point[data-id="2"]{left:53%;top:31%;}
.esgp-map-point[data-id="3"]{left:53%;top:29%;}
.esgp-map-point[data-id="4"]{left:31%;top:81%;}
.esgp-map-point[data-id="5"]{left:52%;top:33%;}
.esgp-map-point[data-id="6"]{left:61.5%;top:50%;}
.esgp-map-point[data-id="7"]{left:26%;top:83%;}
.esgp-map-point[data-id="8"]{left:51%;top:38%;}
.esgp-map-point[data-id="9"]{left:23%;top:57%;}
.esgp-map-point[data-id="10"]{left:58.5%;top:39.5%;}
.esgp-map-point[data-id="11"]{left:53.5%;top: 39%;}
.esgp-map-point[data-id="12"]{left:25%;top:53%;}
.esgp-map-point[data-id="13"]{left:62%;top:52%;}
.esgp-map-point[data-id="14"]{left:60.5%;top:49%;}
.esgp-map-point[data-id="15"]{left:66%;top:34%;}
.esgp-map-point[data-id="16"]{left:74%;top:56%;}
.esgp-map-point[data-id="17"]{left:76%;top:66%;}
.esgp-map-point[data-id="18"]{left:18%;top:51%;}
.esgp-map-point[data-id="19"]{left:24%;top:63%;}
.esgp-map-point[data-id="20"]{left:58%;top:30%;}
.esgp-map-point[data-id="21"]{left:55%;top:34%;}
.esgp-map-point[data-id="22"]{left:55%;top:41%;}
.esgp-map-point[data-id="23"]{left:30.5%;top:75%;}
.esgp-map-point[data-id="24"]{left:45%;top:44%;}
.esgp-map-point[data-id="25"]{left:53%;top:79%;}
.esgp-map-point[data-id="26"]{left:56.6%;top:44%;}
.esgp-map-point[data-id="27"]{left:49.3%;top:63%;}
.esgp-map-point[data-id="28"]{left:66%;top:41%;}
.esgp-map-point[data-id="29"]{left: 56.5%;top: 62.3%;}
.esgp-map-point[data-id="30"]{left:87%;top:67%;}
.esgp-map-point[data-id="31"]{left:55%;top:62%;}
.esgp-map-point[data-id="32"]{left:57%;top:58%;}
.esgp-map-point[data-id="33"]{left:58.5%;top:45%;}
.esgp-map-point[data-id="34"]{left:28%;top:58%;}
.esgp-map-point[data-id="35"]{left:50%;top:67%;}
.esgp-map-point[data-id="36"]{left:50.3%;top:64%;}
.esgp-map-point[data-id="37"]{left:56%;top:75%;}
.esgp-map-point[data-id="38"]{left:49.5%;top:60%;}
.esgp-map-point[data-id="39"]{left:48.5%;top:58%;}
.esgp-map-point[data-id="40"]{left:51%;top:65.5%;}

.jvectormap-region[data-code="KR"],
.jvectormap-region[data-code="CZ"],
.jvectormap-region[data-code="LT"],
.jvectormap-region[data-code="LV"],
.jvectormap-region[data-code="UY"],
.jvectormap-region[data-code="PL"],
.jvectormap-region[data-code="AE"],
.jvectormap-region[data-code="CL"],
.jvectormap-region[data-code="HR"],
.jvectormap-region[data-code="CR"],
.jvectormap-region[data-code="GE"],
.jvectormap-region[data-code="BG"],
.jvectormap-region[data-code="JM"],
.jvectormap-region[data-code="OM"],
.jvectormap-region[data-code="QA"],
.jvectormap-region[data-code="KZ"],
.jvectormap-region[data-code="TH"],
.jvectormap-region[data-code="ID"],
.jvectormap-region[data-code="MX"],
.jvectormap-region[data-code="EC"],
.jvectormap-region[data-code="RU"],
.jvectormap-region[data-code="UA"],
.jvectormap-region[data-code="TR"],
.jvectormap-region[data-code="PY"],
.jvectormap-region[data-code="MA"],
.jvectormap-region[data-code="ZA"],
.jvectormap-region[data-code="LB"],
.jvectormap-region[data-code="GA"],
.jvectormap-region[data-code="TJ"],
.jvectormap-region[data-code="KE"],
.jvectormap-region[data-code="PG"],
.jvectormap-region[data-code="UG"],
.jvectormap-region[data-code="ET"],
.jvectormap-region[data-code="IQ"],
.jvectormap-region[data-code="VE"],
.jvectormap-region[data-code="AO"],
.jvectormap-region[data-code="CG"],
.jvectormap-region[data-code="MZ"],
.jvectormap-region[data-code="CM"],
.jvectormap-region[data-code="NG"],
.jvectormap-region[data-code="CD"]{
	fill:#64A0C8;
}







:root {
  --select-border: var(--color-light-blue);
  --select-focus: blue;
  --select-arrow: white;
}
select {
  appearance: none;
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  align-items: center;
  display: grid;
  width: 200px;
}
select::-ms-expand {
  display: none;
}


.select-container{
	position: relative;
	width: 200px;
}

.select-btn{
	position: absolute;
	top: 0;
	right: 0;

	pointer-events: none;
  width:36px;
  height:30px;
}



/*
.select-container::after {
  content: "";
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-light-blue);
}*/



.esgp-select {
  margin-bottom: 20px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #0060A1;
  border-radius: 3px;
  font-size: 15px;
}
select{
   outline: none !important;
   box-shadow: none;
}
.esgp-select{
	/*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")*/
}



