.esgp-quotes-acontainer{
    position: absolute;
    left: 0;
    display: none;
    top: 0px;
		width: 100%;
		height: 100%;
		z-index: 0;
}

.esgp-quotes-active{
	display: block;
}





.esgp-quotes-acontainer .esgp-quotes-container-h100 {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	opacity: 1;
}

.esgp-quotes-0 .esgp-quotes-container-h100 {
	opacity: 1;
	background: #EFEFEF;
}
.esgp-quotes-1 .esgp-quotes-container-h100 {
	opacity: 1;
	background: #141E50;
	color: #EFEFEF;
}

.esgp-quotes-container{
	position: fixed;
	top: 0%;
	bottom: 0px;
	width: 100%;
}

.esgp-quotes-container-h100{
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}


.esgp-quotes-gear0{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -390px;
    margin-top: -140px;
}
.esgp-quotes-gear1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 460px;
    margin-top: 180px;
}
.esgp-quotes-gear2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -560px;
    margin-top: -220px;
    opacity: 0.2;
}
.esgp-quotes-gear3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 560px;
    margin-top: 30px;

}

.esgp-quotes-0 .esgp-quotes{
	max-width: 680px;
}
.esgp-quotes-1 .esgp-quotes{
	max-width: 768px;
}








.esgp-quotes-box{
	position: relative;
}





.esgp-quotes{
	/*position: relative;*/
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	left:50%;
	top: 50%;
	
	transform: translate(-50%, -50%);
	width: 100%;
	margin-right: auto;
	margin-left: auto;
/*	@media (max-width: 700px) {
		max-width: none;
	}*/
}
.esgp-quotes[data-id="0"]{
	max-width: 680px;
	margin-top: 130px;
	@media (max-width: 575px) {
		margin-top: 140px;
	}
}
.esgp-quotes[data-id="1"]{
	max-width: 768px;
	margin-top: -20px;
	color: #EFEFEF;
}

	.esgp-start-quote{
		position: absolute;
		top: -10px;
		left: -30px;
	}
	.esgp-finish-quote{
		position: absolute;
		right: -25px;
		bottom: 20px;
	}
	.esgp-finish-quote svg,
	.esgp-start-quote svg {
		@media (max-width: 575px) {
			/*transform: scale(0.8);*/
			opacity: 0.5;
		}
	}

	.esgp-quote{
		font-size: 40px;
		line-height: 48px;
		font-weight:300;
		text-align: center;
		transform-origin: center center;
		transition: 0.5s ease-out;
		margin-bottom: 12px;
		@media (max-width: 575px) {
			font-size: 30px;
			line-height: 38px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.esgp-autor{
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		@media (max-width: 575px) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
