.esgp-quotes-box[data-id="0"]{
    height: 950px;
}


.esgp-quote-space-1 {
  position: absolute;
  z-index: 2;
  width: 1920px;
  height: 950px;
/*  margin: 0 auto;*/
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  display: block;
/*  @media (max-width: 1200px) {
    display: none;
  }*/
}

/*.esgp-quote-space-1-2 svg {
  position: relative;
  @media (max-width: 1200px) {
    height: 70vw;
  }
  @media (max-width: 900px) {
    height: 90vw;
  }
  @media (max-width: 700px) {
    height: 110vw;
  }
}
.esgp-quote-space-1-2 {
  display: none;
  pointer-events: none;
  @media (max-width: 1200px) {
    display: block;
  }
}*/

.esgp-quote-space-2 {
  height: 700px;
  pointer-events: none;
  position: relative;
  width: 100%;
/*  @media (max-width: 700px) {
    height: 90vw;
  }*/
}