.esgp-roundbtn{
	position: absolute;
	width: 102px;
	height: 102px;
	cursor: pointer;
	user-select: none;
	z-index:5;
}
.esgp-roundbtn:hover{
	& .esgp-roundbtn-pulse{
		display: none;
	}
	& .esgp-roundbtn-bg{
		background-color: white;
		/*border: 2px solid var(--color-blue);*/
	}
	& .esgp-roundbtn-text{
		color: var(--color-light-blue);
	}
}

.esgp-roundbtn:focus { 
  outline: none;
}
.esgp-roundbtn[data-id="0"]{
	top: 900px;
	left: 50%;
	transform: translate(-50%, 0);
	margin-left: 200px;
	@media(--xs){
		margin-left: 0px;
		margin-top: 50px;
		left: 50%;
		transform: translate(-50%,0) scale(1);
		top: auto;
	}
}
.esgp-roundbtn[data-id="1"]{
    top: 313px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 430px;

	@media(--xs){
    top: 660px;
    left: auto;
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
    margin-left: 0px;
    right: 20px;
	}


	& .esgp-roundbtn-text{
		font-size: 13px;
		left: 12px;
	}
}
.esgp-roundbtn[data-id="2"]{
	& .esgp-roundbtn-bg{
		background-color: white;
		border: 2px solid var(--color-light-blue);
	}
	& .esgp-roundbtn-text{
		color: var(--color-blue);
		line-height:1;
		left: 7px;
	}
}
.esgp-roundbtn[data-id="2"]:hover{
	& .esgp-roundbtn-pulse{
		display: none;
	}
	& .esgp-roundbtn-bg{
		background-color: var(--color-light-blue);
		border: 2px solid var(--color-light-blue);
	}
	& .esgp-roundbtn-text{
		color: white;
	}
}

	.esgp-roundbtn-bg{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: var(--color-blue);
		border: 2px solid white;
		box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
		transition: background-color 0.3s ease-out;
	}

	.esgp-roundbtn-pulse{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #008495;
		opacity: 0;
		pointer-events: none;
	}


	.esgp-roundbtn-text{
		position: absolute;
		display: block;
		width:100%;
		height: 100%;
		pointer-events: none;
		color: white;
		text-transform: uppercase;
		transition: all 0.3s ease-out;
		left: 5px;
		top: 0px;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.2;
		display: flex;
		justify-content: center;
		align-items: center;
		letter-spacing: 0;

		& span{
			width: 83%;
		}
	}



.esgp-roundbutton-tooltip{
  background: #fff;
  padding: 10px 20px 0 20px;
  width: 346px;
  border: 1px solid var(--color-blue);
  border-left: 5px solid var(--color-blue);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  margin-bottom: 10px;
  position: relative;
  max-width:400px;
  width: 100%;

  @media (max-width: 575px) {
	width: 96vw;
	margin-left: 2vw;
  }

  & p {
    color: var(--color-blue);
    font-family: 'OpenSans-Regular';
    font-size: 15px;
    line-height: 20px;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    transform: translate(10px, -6px) rotate(-90deg);
    @media (max-width: 575px) {
      display: none;
    }
  }

  &:before {
    border-color: rgba(136, 137, 140, 0);
    border-top-color: var(--color-blue);
    border-width: 11px;
    margin-left: -10px;
    margin-top: -1px;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFF;
    border-width: 10px;
    margin-left: -10px;
  }

}


