#esgp{
  width: 100%;
/*  max-width: 1920px;
  left: 50%;
  transform: translate(-50%, 0);*/
  background-color: var(--color-grey);
  color: var(--color-blue);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

  .esgp-section{
    width: 100%;
    position: relative;
/*    overflow: hidden;*/
  }
  .esgp-section[data-id="0"]{
    top: 0;
    position: relative;
    z-index: 3;
    max-width: 1920px;
    height: 710px;
    margin: 0 auto;

/*    @media (max-width: 1370px) {
      background: #fafdff;
    }
    @media (max-width: 1200px) {
      padding-bottom: 22vw;
    }
    @media (max-width: 700px) {
      padding-bottom: 0;
    }*/
  }  
  .esgp-section[data-id="1"]{
    /* padding-bottom: 6px; */
    background: #fafdff;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 2;
/*    @media (max-width: 1370px) {
      padding-top: 20px;
    }*/
  }
    .esgp-section-absolute{
      position: absolute;
      top: 0;
      left: 50%;
      width:1920px;
      transform: translate(-50%, 0);

    }


  .esgp-section[data-id="2"]{
    /* padding-bottom: 40px; */
    background: #e7f4fc;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 2;
    margin-bottom: -300px;
  }

  .esgp-line1to2 {
    position:relative;
    width: 1920px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .esgp-line2to3 {
    margin-top: -100px;
    position:relative;
    width: 1920px;
    left: 50%;
    transform: translate(-50%, 0);
  }



    .esgp-section-bg{
      position: absolute;
      display: block;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      /*width: 100%;*/
      width: 1920px;

/*      @media (max-width: 700px) {
        width: 170%;
      }*/
    }


    .esgp-section-bg-jpg[data-id="0"]{
      position: relative;
      top: 0;
      left: 0;
    }
    .esgp-section-bg-svg[data-id="0"]{
      position: absolute;
      top: 0;
      left: 0;
    }
    .esgp-section-bg-svg[data-id="0-1"]{
      position: relative;
      top: 600px;
      left: 0;
    }


    .esgp-globe{
      position: absolute;
      left: 1130px;
      top: 245px;
      z-index:3;
    }

    .esgp-row{
      width: 100%;
      max-width: 1180px;
      padding-left: 30px;
      padding-right: 30px;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      display: flex;
      flex-direction: column;
/*      @media (max-width: 790px) {
        padding-left: 20px;
        padding-right: 20px;
      }*/
    }
    .esgp-section[data-id="2"] .esgp-row{
/*      @media (max-width: 1330px) {
        padding-bottom: 100px;
      }*/
/*      @media (max-width: 1220px) {
        padding-bottom: 130px;
      }*/
    }
    .esgp-row[data-id="0"]{
      max-width: 800px;
      align-items: center;
/*      @media (max-width: 1000px) {
        max-width: 80vw;
      }
      @media (max-width: 576px) {
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
      }*/
    }

    .esgp-row[data-id="001"]{
      position: relative;
      max-width: 800px;
      align-items: center;
      z-index: 5;
      top: 0;
      @media (--xs) {
        top: -20px;
      }      
    }


    .esgp-row[data-id="1"]{
      /*max-width: 1065px;*/
    }

    .esgp-row-space-between{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .esgp-row[data-id="1-0"]{
      align-items: flex-start;
    }
    .esgp-row[data-id="1-1"]{
      padding-top: 68px;
      margin-bottom: 20px;
      @media (--xs) {
        margin-bottom: 40px;
      }
    }
    .esgp-row[data-id="1-2"]{
       align-items: flex-start;
    }
    .esgp-row[data-id="2-0"]{
      align-items: flex-start;
      margin-top: -150px;
      z-index: 1;
    }
    .esgp-row[data-id="5-0"]{
      align-items: flex-start;
      margin-top: -100px;
    }
    .esgp-h1{
      font-size: 52px;
      line-height: 61px;
      max-width: 600px;
      margin-top: 134px;
      margin-bottom: 350px;
      position: relative;




/*
      @media (max-width: 1370px) {
        margin-bottom: 32vw;
        margin-top: 4vw;
      }
      @media (max-width: 1200px) {
        font-size: 4.3vw;
        line-height: 5.1vw;
        max-width: 50vw;
      }*/


      @media (--xs) {
        font-size: 7.5vw;
        line-height: 9.8vw;
        max-width: none;
        margin-top: 60px;
        margin-bottom: 70px;
        /*margin-bottom: 65vw;*/
      }





    }

/*    .esgp-mouse{
      position: relative;
      margin-bottom: 90px;
      @media (max-width: 700px) {
        display: none;
      }
    }
    .esgp-mouse svg{ 
      position: absolute;
      top: 0;
      left: 0;
    }*/


#esgp-mouse{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index:3;
  
/*  @media (--s){
    visibility: hidden;
  }*/
}

  #esgp-mouse-img{
    margin-bottom: 3px;
  }

  #esgp-mouse-img svg{
    margin-right: auto;
    margin-left: auto;
  }

  #esgp-main-text{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }





    .esgp-row[data-id="001"] .esgp-p {
      font-size: 18px;
      line-height: 25px;
      width: 100%;
      @media (--xs) {
        font-size: 15px;
        line-height: 23px;
      } 
    }
    .esgp-p{
      position: relative;
      font-size: 15px;
      line-height: 23px;
    }

    .esgp-p[data-id="0-0"]{
      margin-top:35px;
      @media (--xs) {
         margin-top:0px;
      }      
    }

    .esgp-p[data-id="1-0"]{
      margin-bottom: 0px;
    }
    .esgp-p[data-id="1-1"]{
      margin-bottom: 0px;
    }
    .esgp-p[data-id="2-0"]{
      margin-bottom: 0px;
      opacity: 0;
    }
    .esgp-h2{
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 20px;
      position: relative;
    }

    .esgp-h2[data-id="1"]{
      margin-top: -20px;
      margin-bottom: 23px;
      position: relative;
      z-index: 3;
      @media(--xs){
        margin-top: -100px;
      }
    }
    .esgp-h2[data-id="2"]{
      margin-top: -20px;
      margin-bottom: 23px;
    }
    .esgp-h3{
      position: relative;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 20px;
    }
    .esgp-h3[data-id="0"]{
      margin-top: 80px;
      font-size: 18px;
      line-height: 25px;
      font-size: 17px;
      line-height: 20px;
/*      @media (max-width: 900px) {
        margin-bottom: -35vw;
      }*/
      @media (--xs) {
        margin-top: 10px;
      }
    }

    .esgp-h3[data-id="1"]{
      margin-top: -20px;
      margin-bottom: 40px;
      @media (--xs) {
       text-align: left !important;
      }
    }
    .esgp-h3[data-id="1-1"]{
      margin-top: -20px;
      margin-bottom: 40px;
      @media (--xs) {
       margin-top: 0px;
      }
    }
    .esgp-h3[data-id="2"]{
      margin-top: 53px;
      margin-bottom: 20px;
    }
    .esgp-h3[data-id="3"]{
      margin-top: 43px;
      /*margin-bottom: 20px;*/
    }    



    .esgp-small {
      font-size: 12px;
      line-height: 18px;

    }

