.esgp-section[data-id="4"] {
  background: #efefef;
  margin-bottom: 400px;
  padding-bottom: 60px;
  max-width:1920px;
  margin: 0 auto;
  margin-top: -590px;
  margin-bottom: 200px;
  /* background: red; */
  @media (max-width: 575px) {
    /*margin-bottom: 0px;*/
  }
  & .esgp-s4-bottom {
    position: absolute;
    width:1920px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -500px;

    /* border: 1px solid red; */
    @media (max-width: 575px) {
       /*bottom: -400px;*/
    }
  }
  & .esgp-row {
    padding-top: 310px;
    position: relative;
    z-index: 3;
    margin-bottom: -190px;
/*    @media (max-width: 700px) {
      padding-top: 60vw;
      margin-bottom: 0px;
    }*/
  }

  & .esgp-p {
    max-width: 470px;
    margin-bottom: 70px;
  }
}

.esgp-btn-modal {
/*  width: 100px;
  height: 100px;
  background: #FFF;
  border-radius: 50%;*/
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 190px;
  margin-left: -230px;
/*  border: 1px solid;*/


  @media (max-width: 575px) {
  transform: translate(-, -50%);
  left: 20px;
  top: 170px;
  margin-left: 0px;
  }
}

.esgp-p-modal{
  font-family: 'OpenSans-Regular';
  & span{
    font-family: 'OpenSans-Bold';
  }
}

.esgp-section[data-id="4"] .sip_graph_half_w {
  width: 1186px;
  position: relative;
/*  @media (max-width: 1150px) {
    width: 100%;
    display: flex;
    flex-direction: row;
  }*/
  @media (max-width: 575px) {
    width: 100%;
    flex-direction: column;
    /*pointer-events: none;*/
    margin-bottom: -90px;
  }
}

.esgp-section[data-id="4"] .sip_graph_half_4 {
/*  @media (max-width: 1150px) {
    max-width: none;
    width: 50vw;
  }
  @media (max-width: 700px) {
    width: 100%;
    margin-bottom: 30px;
  }*/

  @media (max-width: 575px) {
    width: 100%;
    margin-bottom: 30px;
  }

}
.sip_graph_half {
  max-width: 625px;
  width: 100%;
  position: relative;
}

.esgp-section[data-id="4"] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .esgp-small {
    padding: 20px 0;
  }

  & .sip_graph_half {

    & [data-name="Group 13989"],
    & [data-name="Group 16042"],
    & [data-name="Group 16044"] {
      opacity: 0;
    }

    /* -----btn------ */
    & .sip_ig_btn {
      width: 8.03%;
      height: 14.43%;
      border: 2px solid rgb(26, 156, 227);
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 11.3%;
      cursor: pointer;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      transition: background .3s;
      &:hover {
        background: #141E50;
        &:after {
          background: #FFF;
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36.56%;
        height: 36.56%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: rgb(26, 156, 227);
      }
    }

    & .sip_ig_btn_1 {
      right: 4.6%;
/*      @media (max-width: 700px) {
        pointer-events: auto;
      }*/
    }
    & .sip_ig_btn_2 {
      right: 18%;
/*      @media (max-width: 700px) {
        pointer-events: auto;
      }*/
    }

    /* -----line------ */
    & .sip_ig {
      position: absolute;
      bottom: 9.4%;
      width: 6.8%;
      background:  rgb(26, 156, 227);
      /* opacity: 0; */
    }
    & .sip_ig_1 {
      left: 7.7%;
      height: 45.2%;
    }
    & .sip_ig_2 {
      left: 21.2%;
      height: 32.8%;
    }
    & .sip_ig_3 {
      left: 34.5%;
      height: 42.0%;
    }
    & .sip_ig_4 {
      left: 48%;
      height: 53.3%;
    }
    & .sip_ig_5 {
      left: 61.3%;
      height: 78.7%;
    }
    & .sip_ig_6 {
      left: 74.6%;
      height: 80.6%;
    }
    & .sip_ig_7 {
      left: 88.1%;
      height: 80.8%;
    }
  }

}

.esgp_tooltip {
  background: #fff;
  padding: 10px 20px 0 20px;
  width: 346px;
  border: 1px solid #88898C;
  border-top: 5px solid #1A9CE3;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  margin-bottom: 10px;
  position: relative;
  & h1 {
    color: #1A9CE3;
    font-family: 'OpenSans-Bold';
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
  }
  /* --- bottom arrow ---*/
  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    @media (max-width: 575px) {
      display: none;
    }
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFF;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(136, 137, 140, 0);
    border-top-color: #88898C;
    border-width: 11px;
    margin-left: -11px;
    margin-top:1px;
  }


}

/* modal */

.body_modal {
  overflow: hidden;
  padding-right: 17px;
  @media (max-width: 700px) {
    padding-right: 0;
  }
}

.esgp-modal-img-block{
  position: relative;
  height:336px;
  @media (max-width: 700px) {
    height:auto;
  }  
}


.esgp-modal-img{
  height:336px;
  @media (max-width: 700px) {
    height:auto;
  }
}
.esgp-modal-img-txt{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 336px;
}


button:focus {
  outline: 0px !important;
}


.esgp-btn-close{
  transform-origin: 50% 50%;
  transition: 0.3s all ease-out;
}
.esgp-btn-close:hover{
  transform: scale(1.3);
}





.esgp-modal-w {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  display: none;
  background-color: rgba(0,0,0,0.75);
  transition: opacity 3s ease-out; 
  opacity: 0; 
  /* height: 0; */
  /* overflow: hidden; */
  @media (max-width: 700px) {
    padding: 10px;
  }
  & .esgp-p {
    max-width: none !important;
    margin-bottom: 10px !important;

    @media (max-width: 820px) {
      max-width: none !important;
      margin-bottom: 20px !important;
    }
  }

  &.esgp-modal-w-show {
    display: flex;
    opacity: 1;
    /* overflow: hidden; */
    /* z-index: 9999; */
    /* height: auto; */
  }
  & ul {
    padding: 0 0 0 23px;
    margin: 0;

  }
  & .esgp-modal-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 820px) {
      padding-top: 20px;
      flex-direction: column;
    }
    @media (max-width: 700px) {
      overflow-y: auto;
      height: 64vh;
      display: block;
    }
    & .esgp-modal-left,
    & .esgp-modal-right {
      width: 50%;
      position: relative;
      padding-top: 20px;
      @media (max-width: 820px) {
        width: 100%;
      }
    }
    & .esgp-modal-left {
      padding-right: 40px;
      @media (max-width: 820px) {
        padding: 0px; 
      }
    }
    & .esgp-modal-right {
      padding-left: 40px;
      padding-right: 20px;
      @media (max-width: 820px) {
        padding: 0px; 
      }
    }

    & .esgp-modal-left:after {
      content: '';
      position: absolute;
      top: 57%;
      right: -2px;
      transform: translateY(-50%);
      width: 1px;
      height: 63%;
      border: 1px solid #707070;
      @media (max-width: 820px) {
        display: none;
      }
    }
    
  }
  & .esgp-modal {
    max-width: 1200px;
    width: 100%;
    background: #fff;
    padding: 35px 30px;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom right;
    border: 1px solid #707070;
    @media (max-width: 700px) {
      height: 95vh;
      padding: 20px;
    }
    & img {
      width: 97%;
    }
  }
  & .esgp-modal-h1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 24px;
      padding-right: 15px;
    }
  }
  & .esgp-modal-h3 {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
  }
}

.esgp-btn-close {
  position: absolute;
  top: 30px;
  right: 28px;
  width: 25px;
  height: 25px;
  background: #FFF;
  border: none;
  @media (max-width: 700px) {
    top: 12px;
    right: 12px;
    background: rgba(255,255,255,0.6)
  }
}
.esgp-btn-close:before, .esgp-btn-close:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 25px;
  height: 1px;
  background: #23234C;
}
.esgp-btn-close:before {
  transform: rotate(45deg)
}
.esgp-btn-close:after {
  transform: rotate(-45deg)
}


.esgp-flex {
  display: flex;
  flex-wrap: wrap;
/*  @media (max-width: 700px) {
    flex-direction: column;
  }*/
}

.esgp-s4-2 {
  margin-top: 50px;
  position: relative;
  @media (max-width: 575px) {
    flex-direction: column;
    margin-top: 0px;
  }
}

.esgp-s4-2-left,
.esgp-s4-2-right {
  width: 46%;
  padding: 20px;
/*  @media (max-width: 1150px) {

  }
  @media (max-width: 700px) {
    width: 100%;
    padding: 0;
  }*/

  @media (max-width: 575px) {
    width: 100%;
    padding: 0;
  }

}
.esgp-s4-2-left {
  @media (max-width: 575px) {
      margin-top: -50px;
      margin-bottom: -20px;
  }
}
.esgp-s4-2-left svg{
  @media (max-width: 575px) {
    width: 100%;
  }
}

.esgp-s4-2-left img,
.esgp-s4-2-right img {
  width: 100%;
}
.esgp-s4-2-right img {
/*  @media (max-width: 700px) {
    width: 80%;
  }*/
}


.esgp-s4-2-left {
  padding-right: 0;
  padding-top: 0;
}
.esgp-s4-2-right {
  padding-left: 20px;
  padding-top: 45px;
  @media (max-width: 575px) {
    padding: 0;
  }
}

.esgp-s4-2-circle {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  background: #00B398;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 4px;
    background: #fff;
    border-radius: 2px;
  }
  &:before {
    top: 38px;
    left: 15px;
    width: 26px;
    transform: rotate(47deg);
/*    @media (max-width: 1150px) {
      top: 4vw;
      left: 1.5vw;
      width: 2.5vw;
    }*/
  }
  &:after {
    top: 23px;
    left: 23px;
    width: 65px;
    transform: rotate(-51deg);
/*    @media (max-width: 1150px) {
      top: 2.3vw;
      left: 2.3vw;
      width: 6.5vw;
    }*/
  }
/*  @media (max-width: 1150px) {
    right: 4vw;
    width: 7vw;
    height: 7vw;
    bottom: -3vw;
  }*/

  
/*  @media (max-width: 700px) {
    width: 50px;
    height: 50px;
    bottom: -40px;
    right: 0;
    &:before, &:after {
      height: 2px;
    }
    &:before {
      top: 30px;
      left: 9px;
      width: 16px;
    }
    &:after {
      top: 24px;
      left: 16px;
      width: 30px;
    }
  }*/
}


.esgp-s4-half_image-div {
  position: absolute;
  bottom: -200px;
  right: 0;
  width: 540px;


  @media (max-width: 575px) {
    width: 100%;
    position: relative;
    top: 0;
    right: -25px;
  }


/*  @media (max-width: 1150px) {
    width: 41vw;
    bottom: unset;
    top: -22px;
    right: -3vw;
  }
  @media (max-width: 700px) {
    width: 100%;
    position: relative;
    top: 0;
    right: -25px;
  }*/
}

.esgp-s4-hand{
  z-index:4;
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translate(300px, 0px);  
}




.esgp-s4-notebooks {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 100%;
  z-index: 3;
  max-width: 1366px;
  transform-origin: 50% 50%;
  transform: translateX(-50%);
  pointer-events: none;
/*  @media (max-width: 700px) {
    top: 0;
    height: 50vw;
  }*/
}
.esgp-s4-notebooks0,
.esgp-s4-notebooks2{
  @media (max-width: 575px) {
    opacity: 0;
  }
}
.esgp-s4-notebooks1,
.esgp-s4-notebooks3{
  @media (max-width: 575px) {
   transform: translateX(-50%) scale(2);
  top: -140px;
  left: 20px;
  }
}


.esgp-table[data-id="4"]{
    & svg{
      width: 100%;
    }
}
