.esgp-dotlines{
	position:absolute;
}

.esgp-dotlines[data-id="0"]{
	left: 1140px;
    top: 120px;
}
.esgp-dotlines[data-id="1"]{
	left: 00px;
	top: 0px;
    z-index:2;

      @media (--xs) {
        display: none;
      }

}
.esgp-dotlines[data-id="2"]{
	left: 1400px;
    top: 100px;
    z-index:2;
}
.esgp-dotlines[data-id="3"]{
	left: 1100px;
    top: 20px;
    @media (max-width: 575px) {
        opacity: 0.5;
        left: 900px;
        top: 120px;
    }
}
.esgp-dotlines[data-id="4"]{
	left: 150px;
    top: 740px;
}
.esgp-dotlines[data-id="5"]{
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    margin-left: 280px;
    margin-top: 220px;
    @media (max-width: 575px) {
       display: none;
    }
}
.esgp-dotlines[data-id="6"]{
	left: 50%;
    top: 950px;
    transform: translate(-50%, -50%);
    margin-left: -680px;
    margin-top: 0px;    
}
.esgp-dotlines[data-id="7"]{
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -600px;
    margin-top: -300px;
}
.esgp-dotlines[data-id="8"]{
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -50px;
    margin-top: 150px;
    @media (max-width: 575px) {
        opacity: 0.5;
    }
}
.esgp-dotlines[data-id="9"]{
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%) scaleY(-1);
    margin-left: 330px;
    margin-top: 280px;
}
.esgp-dotlines[data-id="10"]{
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    margin-left: -600px;
    margin-top: 250px;
}
.esgp-dotlines[data-id="11"]{
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    margin-left: 0px;
    margin-top: 1370px;
    @media (max-width: 575px){
        opacity: 0;
    }
}