.esgp-section[data-id="3"] {
   /*background: #efefef; */

  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 590px;
  /*margin-bottom: 1090px;*/

  /*padding-top: 300px;*/
/*  margin-top: -560px;*/
  z-index: 2;
  /* overflow: hidden; */
/*  @media (max-width: 1330px) {
    padding-top: 0px;
    margin-top: 0px;
  }*/
  & .esgp-row  {
    background: #efefef;
/*    @media (max-width: 900px) {
      padding-top: 9vw;
    }*/
  }
  & .esgp-h2 {
/*    @media (max-width: 1330px) {
      margin-top: -7vw;
    }*/
  }
  & .esgp-section-img {
    position: absolute;
    top: 360px;
    z-index: 1;
    width:100%;


/*    @media (max-width: 1330px) {
      top: 40px;
    }
    @media (max-width: 1200px) {
      top: 30px;
    }
    @media (max-width: 1000px) {
      top: 0;
    }*/
  }

  & .esgp-s3-notebooks-div {
    position: absolute;
    top: -350px;
    left: 50%;
    width: 100%;
    z-index: 3;
    max-width: 1366px;
    transform: translateX(-50%);

    @media (max-width: 575px) {
      transform: translateX(0%) scale(0.65);
      top: -20px;
      left: 0%;
    }


/*    @media (max-width: 1330px) {
      width: 113%;
      top: -40vw;
    }
    @media (max-width: 700px) {
      top: -43vw;
      height: 37vw;
    }*/
  }

  & .esgp-screp0{
      position: absolute;
      z-index:2;
      top: 100px;
      left: -60px;
      & svg{
        width: 84px !important;
      }

    @media (max-width: 575px) {
      opacity: 0;
    }
      
  }
  & .esgp-screp1{
      position: absolute;
      z-index:2;
      bottom: 100px;
      right: -60px;
      transform: scale(-1);
      & svg{
        width: 84px !important;
      }

    @media (max-width: 575px) {
      opacity: 0;
    }

  }

  & .esgp-cloud3{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left:630px;
    top: 470px;
  }


  & .sip_county_graph_svg {
    position: relative;
    /*margin-left: -10px;*/

    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.3);

    & svg {
      position: relative;
      z-index: 2;
      /*width: 100%;*/
    }
    & .sip_county_graph_svg_bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  & .sip_county_graph {
    max-width: 1085px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    z-index: 3;
    & .sip_county_pin {
      position: absolute;
    }
    & svg {
      width: 100%;
      /*height: auto;*/
    }





    & .sip_county_pin_left {
      top: 150px;
      left: -30px;
    }
  
    & .sip_county_pin_right {
      right: -50px;
      bottom: 95px;
      transform: rotate(180deg);
    }
  }
  

  & [data-name*='cntry'].g_active text {
    fill: #141e50 !important;
    font-family: OpenSans-Bold, "Open Sans" !important;
    font-weight: 700;
    font-size: 11px !important;
  }

  & [data-name*='cntry'].g_active rect {
    fill: #141e50 !important;
  }

  & .esgp-small {
    color: #fff;
    display: block;
    width: 47%;
  }
}


.esgp-section[data-id="3"] .esgp-row-space-between {
  position: relative;
  z-index: 2;
}

.esgp-section[data-id="3"] .sip_county_graph_svg_mob {
  display: none;
  @media (max-width: 700px) {
    display: block;
    width: 60px;
    height: 638px;
    position: absolute;
    top: 50px;
    left: -30px;
    z-index: 4;
    background: #fff;
  }
}
.esgp-section[data-id="3"] .sip_county_graph_svg {
  @media (max-width: 700px) {
    width: 1098px;
    margin-left: 0;
    & svg {
      pointer-events: none;
    }
  }
}

.esgp-section[data-id="3"] .esgp-row-space-between {
  @media (max-width: 700px) {
    flex-direction: column;
  }
  & .esgp-small {
    @media (max-width: 700px) {
      width: 100%;
      margin-top: 8px;
    }
  }
}

.esgp-section[data-id="3"] .sip_county_graph_svg_w {
  position: relative;
  @media (max-width: 575px) {
    width: 100vw;
    max-width: none;
    overflow-x: scroll;
    margin-left: -30px;
  }
}



.esgp-p3{
  padding-right:15%;
  @media(max-width: 575px){
    padding-right:0%;
  }
}

.esgp-row1-bg{
  width: 1920px;
  position: absolute;
  height: 100%;
  background-color: #EFEFEF;
  left: 50%;
  transform: translate(-50%, 0);

}

.esgp-p3[data-id="0"]{
  opacity: 0;
}