@import './components/app';
@import './components/s1/';
@import './components/s2/';
@import './components/quotes/';
@import './components/dotlines/';
@import './components/roundbtn/';


@font-face {
    font-family: 'OpenSans-Regular';
    src: url('~assets/fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('~assets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('~assets/fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('~assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.open-sans-light {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-weight: 300;
}
.open-sans-regular {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-weight: normal;
}
.open-sans-semibold {
  font-family: 'OpenSans-Semibold', Arial, sans-serif;
  font-weight: 600;
}
.open-sans-bold {
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: bold;
}

:root {
  --color-grey: #EFEFEF;
  --color-blue: #141E50;
  --color-light-blue: #1A9CE3;
  --color-green: #00B398;
  --color-red: #E41F13;

  --shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
}

@custom-media --xs (max-width: 575px);
@custom-media --sm (min-width: 576px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1200px);

@custom-media --ie all and (-ms-high-contrast: none), (-ms-high-contrast: active);
@custom-media --nonretina not screen and (-webkit-min-device-pixel-ratio: 2),
not screen and (   min--moz-device-pixel-ratio: 2),
not screen and (     -o-min-device-pixel-ratio: 2/1),
not screen and (        min-device-pixel-ratio: 2),
not screen and (                min-resolution: 192dpi),
not screen and (                min-resolution: 2dppx);

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

* :focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}
